.container {
  border: 1px solid red;
  width: 630px;
  height: 270px;
  display: flex;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 500;
}
.pic {
  width: 150px;
  margin-right: 13px;
}
img {
  height: 80px;
  width: 90px;
  border-radius: 45px;
  margin-left: 15px;
  margin-top: 10px;
}
.author p {
  font-weight: 700;
}
.author span,
.url {
  color: lightslategrey;
}
.link {
  border: 1px solid lightgray;
  width: 480px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.blank {
  width: 140px;
  /* width: 120px; */
  background-color: lightgray;
}
.youtube {
  flex: 1;
  margin-left: 15px;
  margin-right: 20px;
}
.url p {
  margin-bottom: 5px;
}
