    .nitsu{
      width: 200px;
      border-radius: 10px;
      border: 3px solid orange;
      cursor: pointer;
      transition: width 0.15s,
        border 2s;
    }

    .nitsu:hover{
      width: 300px;
      border: 15px double red;
    }

    .nitsu1{
      width: 200px;
      height: 200px;
      border: 3px solid orange;
      object-fit: cover;
      object-position: -83px;
      cursor: pointer;
      transition: box-shadow 2s;
    }

    .nitsu1:hover{
     box-shadow: 100px 100px 10px rgba(255, 71, 17, 0.4);
    }

    .nitsu2{
      width: 200px;
      height: 200px;
      border: 3px solid orange;
      object-fit: cover;
      object-position: -83px;
      border-radius: 100px;
      cursor: pointer;
      transition: margin-left 2s;
    }

    .nitsu2:hover{
      margin-left: 400px;
    }

    .search{
      width: 150px;
      height: 40px;
      border-radius: 10px;
      padding-left: 10px;
      transition: border-style 0.15s,
        border-color 0.15s, font-size 0.15s;
    }

    .search:hover{
      border-style: solid;
      border-color: gold;
      font-size: 30px;
    }

    .google{
      width: 250px;
      height: 44px;
      border-radius: 25px;
      padding-left: 10px;
      border: none;
      box-shadow: 0 0 10px rgba(96, 96, 96, 0.3);
      transitiom: box-shadow 0.15s;
    }

    .google:hover{
      box-shadow: 0 0 20px rgba(96, 96, 96, 0.4);
    }
    .linkedin{
      font-family: Roboto;
      font-size: 14px;;
    }
    p{
      margin-bottom: 0;
      margin-top: 0;
    }
    .blank{
      margin-top: 0;
      margin-bottom: 12px;
      width: 340px;
      border-radius: 5px;
    }
    .join{
      margin-bottom: 12px;
    }
    .agree{
      width: 340px;
      height: 40px;
      border-radius: 30px;
      font-size: 18px;
      background-color: rgb(15, 118, 207);
      color: white;
      border: none;
      cursor: pointer;
      transition: color 0.15s, 
      background-color 0.15s, box-shadow 0.15;
    }
    .agree:active{
      color: rgb(15, 118, 207);
      background-color: white;
      box-shadow: 0 0 15px rgba(15, 118, 207, 0.4);
    }

